*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    font-family: 'Playfair Display', serif;
    color: #0B1D03;
    margin: 0 auto;
    position: relative;
    
}

/*INÍCIO DO HEADER*/

.prelude-container { 
    width: 100%;
    height: auto;
    max-height: 900px;
    padding: 0 5% 6rem 5%;
    background: url('/img/image\ 1.png') no-repeat center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.75rem;
}

.header-menu__burger {
    width: 28px;
    height: 28px;
}

.header-menu__title {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.header-content {
    margin-top: 9.75rem;
    
}


.header-content__tracks {
    
    cursor: pointer;
}

.header-cotent__title {
    width: 704px;
    font-size: 80px;
    line-height: 88px;
    color: white;
    margin-top: 40px;
    
}

.header-content__subtitle {
    font-family: 'Khula', sans-serif;
    font-size: 32px;
    color: white;
    margin-top: 24px;
    
}

.header-content__slide {
    margin-top: 120px;
}

.content__slide--previous {
    margin-right: 20px;
}

/* FIM DO HEADER */

/* INÍCIO DO CONTEÚDO */

.main {
    padding: 0 80px;
}

.coffee-content {
    display: flex;
    justify-content: space-between;
    margin-top: 120PX;
    gap: 10.75%;
    width: 100%;
}

.coffee-content__text {
    width: 581px;
}

.content__text--title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 32px;
}

.content__text--subtitle {
    font-family: 'Khula', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.coffee-content-2 {
    flex-direction: row-reverse;
}

/* FIM DO CONTEÚDO DE TEXTO*/

/*INÍCIO DA SEÇÃO DOS CAFÉS (PRODUTOS) */

.section-coffee {
    margin-top: 184px;
}

.section-coffee__title {
    font-size: 56px;
    font-weight: 700;
    color: #A0996C;
    margin-bottom: 64px;
}

.section-coffee__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 31px;
    width: 100%;
}

.section-coffee__block {
    max-width: 30%;
    background: #F7F1E6;
    border-radius: 8px;
    padding: 30px;
    font-family: 'Khula', sans-serif;
    flex: 0 1 459px;
}

.section-coffee__ruanda {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 46px;
}

.section-coffee__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
}

.section-coffee__price {
    text-align: center;
    margin-bottom: 48px;
    align-items: center;
}

.section-coffee__40 {
    font-size: 32px;
    font-weight: 600;
}

.section-coffee__60 {
    font-size: 24px;
    font-weight: 600;
    color: #969696;
    margin-left: 14px;
}

.section-coffee__btn {
    min-width: 100%;
    padding: 24px;
    border: none;
    border-radius: 4px;
    background: #0B1D03;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    color: white;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

/* FIM DA SEÇÃO DOS CAFÉS (PRODUTOS) */

/*INÍCIO DO POPUP*/

@media screen and (max-width: 1601px) {
    .modal-popup {
        right: 20%;
    }
}

.modal-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.popup-general {
    display: flex;
    justify-content: flex-end;
    width: 1600px;
}

/*Popup menor*/

.popup-product {
    width: 499px;
    height: 100%;
    padding: 48px;
    background: white;
}

.popup-title {
    font-family: 'Khula', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.product-container {
    background: #F2F2F2;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}

.container-title {
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
}

.container-price {
    font-family: 'Khula', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.container-btn {
    border: none;
    background-color: none;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    color: #A0996C;
    display: block;
    cursor: pointer;
}


/*Popup do formulário*/

.popup-form {
    width: 784px;
    font-family: 'Khula', sans-serif;
    padding: 48px 80px 48px 48px;
    position: relative;
    background: white;
}

.titles-dados {
    color: #0B1D03;
}

.popup-form_titles {
    font-size: 20px;
    font-weight: 600;
    color: #969696;
    display: flex;
    gap: 18px;
}

.popup-form_title span {
    display: block;
}

.popup-form-container {
    margin-top: 32px;
}

.popup-form-content {
    width: 656px;
    padding: 24px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    margin-bottom: 24px;
    font-size: 24px;
    color: #969696;
}

.comentarios {
    width: 656px;
    height: 238px;
    padding: 24px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    margin-bottom: 24px;
    font-family: 'Khula', sans-serif;
    font-size: 24px;
    color: #969696;
}

.popup-btn {
    width: 656px;
    height: 76px;
    border: none;
    border-radius: 4px;
    background: #0B1D03;
    color: white;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 37px;
    right: 37px;
}


/*FIM DO POPUP*/

/* SEÇÃO DOS SERVICOS */

.services {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.service-icon {
    width: 262px;
}

.service-icon img {
    display: block;
    margin: 0 auto;
}

.service-icon span {
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    line-height: 26px;
    display: block;
    text-align: center;
    margin-top: 24px;
}

.service-acces {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 68px;
    gap: 32px;
}

.service-catalogue {
    background: url('/img/Rectangle20.png') no-repeat;
    width: 704px;
    height: 560px;
}

.service-acessories {
    background: url('/img/Rectangle21.png') no-repeat;
    width: 704px;
    height: 560px;
}

.service-text {
    margin-top: 388px;
    margin-left: 40px;
}

.service-title {
    font-size: 56px;
    font-weight: 700;
}

.service-subtitle {
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin-top: 24px;
}

/* FIM DA SEÇÃO DOS SERVIÇOS */

/*INÍCIO DO FORMULÁRIO*/

.section-form {
    margin-top: 200px;
}

.section-form-title {
    font-size: 56px;
    font-weight: 700;
}

.form {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 48px 0 24px 0;
}

.form-cidade {
    width: 459px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    font-size: 20px;
    color: #969696;
    padding: 24px;
    background: url('/img/ArrowDown.png') no-repeat;
    background-position: 95% center;
}

.form-end {
    width: 949px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    font-size: 20px;
    color: #969696;
    padding: 24px;
    background: url('/img/Search.png') no-repeat;
    background-position: 98% center;
}

.mapa {
    max-width: 100%;
}

/*FIM DO MAIN*/

/*FOOTER*/

.footer {
    background: #F7F1E6;
    margin-top: 40px;
    padding: 56px 80px 16px 80px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content li {
    list-style: none;
}

.footer-logo {
    font-size: 28px;
    font-weight: 700;
}

.footer-title {
    font-family: 'Khula', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 18px;
}

.footer-list-item a {
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #0B1D03;
}

.footer-social-icon {
    display: flex;
    justify-content: space-between;
}

.footer-mentorama {
    margin-top: 80px;
    gap: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.designed {
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    color: #1F1F1F;
    margin-top: 5px;
}